{
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 120,
    "overrides": [
        {
            "files": [
                "**/*.json"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}