/* GLOBAL */
* {
  font-family: consolas, monospace;
}

/* Style Body */
/******************************************************************************/
body {
  background-color: #313131;
  color: #eeeeee;
  padding: 0px;
  margin: 0;
}

/* Style Header */
/******************************************************************************/
header {
  background-color: #313131;
  color: #eeeeee;
  padding: 30px;
  height: 280px;
  text-align: center;
}

/* Style the footer */
/******************************************************************************/
footer {
  background-color: #313131;
  padding: 8px;
  text-align: center;
  color: #eeeeee;
}

/* Style Status Bar */
/******************************************************************************/
.status-bar {
  width: 100%;
  height: 50px;
  background-color: #313131;
  top: 0;
  left: 0;
  box-shadow: inset 0px -8px 20px 5px rgba(33, 33, 33, 0.52);
}

.status-column {
  float: left;
  width: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.status-image {
  padding-left: 30px;
}

.status-text  {
  font-size: 0.7rem;
  /* text-transform: uppercase; */
  color: #a2a2a2;
  padding-top: 13px;
  white-space: nowrap;
  padding-left:10px;
}

/* Style Controls */
/******************************************************************************/
header label {
  display: block;
  padding: 5px
}

header input[type=text], select {
  background-color: #eeeeee;
  color: #313131;
  width: 100%;
  height: auto;
  padding: 8px 2%;
  margin: 15px 0;
  box-sizing: border-box;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #212121;
}

header input[type=submit] {
  background-color: #313131;
  color: #eeeeee;
  width: 100%;
  height: auto;
  margin-top: 8px;
  padding: 10px 2%;
  margin: 8px 0;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px 5px #212121;
}
header input[type=submit]:hover {
  background-color: #d0f520;
  color: #212121;
  box-shadow: inset 0 0 4px 1px #212121;
}

/* Style Timeline General*/
/******************************************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Style .section */
/******************************************************************************/
.section {
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {font-size: 1.8rem;}
.section h2 {font-size: 1.3rem;}

.section .container p {
  font-size: 0.9rem;
  font-weight: 100;
  color: #eeeeee;
}


/* Style Timeline */
/******************************************************************************/
.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 60px;
  height: 3px;
  background: #eeeeee;
}

.timeline ol li:last-child {
  width: 100px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

/* Timeline Circles (Line Markers) */
.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #515151;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 100px;                                 /* Width of "Modal" box */
  padding: 15px;
  font-size: 0.7rem;                            /* Font size of "Modal" text */
  white-space: normal;
  color: #313131;
  background: #eeeeee;
}

.timeline .highlight-div {
  background: #d0f520;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Style Timeline Children (Modals) */
/******************************************************************************/
.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #eeeeee transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #eeeeee;
}

.timeline time {
  display: block;
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 8px;
}


/* Style Timeline Arrows */
/******************************************************************************/
.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}
