* {
  font-family: consolas, monospace;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #313131;
  padding: 30px;
  color: white;
  height: 230px;
  text-align: center;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Style Controls */
header input[type=text], select {
  width: 100%;
  height: auto;
  padding: 1% 2%;
  margin: 0.5% 0;
  box-sizing: border-box;
}

header input[type=submit] {
  width: 100%;
  height: auto;
  color: white;
  background-color: #e91e63;
  margin-top: 10px;
  padding: 1% 2%;
  margin: 0.5% 0;

  border: none;
  border-radius: 1px;
  cursor: crosshair;
}
header input[type=submit]:hover {
  background-color: #d11b59;
}
