html, body {
  margin: 0;
  height: 100%;
  padding: 0;
}
canvas {
  display: block;
}
html, body {
  height: 100%;
}

/* body {
  margin: 0;
  -webkit-box-flex: 1;   OLD - iOS 6-, Safari 3.1-6
  -webkit-flex: 1;       Safari 6.1+. iOS 7.1+, BB10
  -ms-flex: 1;           IE 10
  display: flex;
  justify-content: center;
  align-items: center;
} */
